<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" >
  <Product  Id="F43E9A7F-725C-43F5-A3FF-4AC70285583B"
            Name="KojtoCAD 1.0.0"
            UpgradeCode="6F14D711-9EBE-4198-B3BE-982301F89391"
            Version="1.0.0"
            Manufacturer="Kojto Ltd"
            Language="1033"
            Codepage="1252">

    <Package  Id="*"
              InstallerVersion="200"
              Compressed="yes"
              InstallScope="perMachine"
              Manufacturer="Kojto Ltd"
              Description="Installs KojtoCAD plugin for AutoCAD 2012+ and BricsCAD 16+"
              Keywords="Kojto,KojtoCAD,AutoCAD plug-in, BricsCAD plug-in"
              Comments="(c) 2017 Kojto Ltd"
              Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)\MITLicense.rtf" />

    <UI>
      <Property Id="DefaultUIFont">DlgFont8</Property>
      <TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
      <TextStyle Id="DlgTitleFont" FaceName="Tahoma" Size="8" Bold="yes" />


      <Dialog Id="InstallDlg" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Title" Type="Text" X="15" Y="6" Width="260" Height="15" Transparent="yes" NoPrefix="yes">
          <Text>{\DlgTitleFont}You are about to install [ProductName] on your computer.</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="0" />
        <Control Id="Text" Type="Text" X="25" Y="70" Width="320" Height="20">
          <Text>Click "Next" to begin the installation.</Text>
        </Control>
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />
        <Control Id="Cancel" Type="PushButton" X="200" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Install" Type="PushButton" X="300" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>

      <Dialog Id="LicenseAgreementDlg" Width="370" Height="270" Title="[ProductName] License Agreement" NoMinimize="yes">
        <Control Id="Description" Type="Text" X="25" Y="23" Width="360" Height="15"
          Transparent="yes" NoPrefix="yes">
          <Text>Please read the following license agreement carefully. By clicling "Next" you accept it.</Text>
        </Control>
        <Control Id="Title" Type="Text" X="15" Y="6" Width="200" Height="15"
          Transparent="yes" NoPrefix="yes">
          <Text>{\DlgTitleFont}End-User License Agreement</Text>
        </Control>
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="374" Height="0" />
        <Control Id="AgreementText" Type="ScrollableText" X="20" Y="60" Width="330" Height="120" Sunken="yes" TabSkip="no">
          <Text SourceFile="MITLicense.rtf" />
        </Control>

        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="0" />

        <!--<Control Id="Back" Type="PushButton" X="100" Y="243" Width="56" Height="17" Text="Back">
          <Publish Event="NewDialog" Value="InstallDlg"></Publish>
        </Control>-->

        <Control Id="Cancel" Type="PushButton" X="200" Y="243" Width="56" Height="17" Cancel="yes" Text="Cancel">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Install" Type="PushButton" X="300" Y="243" Width="56" Height="17" Default="yes" Text="Next">
          <Publish Event="EndDialog" Value="Return" />
        </Control>

      </Dialog>

      <Dialog Id="ExitDialog" Width="370" Height="270" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="Finish" Type="PushButton" X="300" Y="243" Width="56" Height="17" Default="yes" Cancel="yes" Text="Install">
          <Publish Event="EndDialog" Value="Return" />
        </Control>
      </Dialog>

      <Dialog Id="CancelDlg" Width="260" Height="85" Title="[ProductName] Setup" NoMinimize="yes">
        <Control Id="No" Type="PushButton" X="132" Y="57" Width="56" Height="17" Default="yes" Cancel="yes" Text="No">
          <Publish Event="EndDialog" Value="Return">1</Publish>
        </Control>
        <Control Id="Yes" Type="PushButton" X="72" Y="57" Width="56" Height="17" Text="Yes">
          <Publish Event="EndDialog" Value="Exit">1</Publish>
        </Control>
        <Control Id="Text" Type="Text" X="48" Y="15" Width="194" Height="30">
          <Text>Are you sure you want to cancel [ProductName] installation?</Text>
        </Control>

        <Control Id="Icon" Type="Icon" X="15" Y="15" Width="24" Height="24"
          ToolTip="Information icon" FixedSize="yes" IconSize="32" Text="[InfoIcon]" />
      </Dialog>

      <InstallUISequence>
        <Show Dialog="InstallDlg"  Sequence="1"/>
        <Show Dialog="LicenseAgreementDlg"   Sequence="2"  />
        <Show Dialog="ExitDialog"  Sequence="3"  />
      </InstallUISequence>

      <AdminUISequence>
        <Show Dialog="InstallDlg" Sequence="1"/>
        <Show Dialog="LicenseAgreementDlg"  Sequence="2"  />
        <Show Dialog="ExitDialog"  Sequence="3"  />
      </AdminUISequence>
    </UI>

    <Feature Id="MainProduct"
             Title="Main Product"
             Level="1">
      <ComponentGroupRef Id="KojtoCADComponents" />
    </Feature>
    <Feature Id="CreateRegistryEntries" Title="Create registry entries" Level="1">
      <ComponentRef Id="RegistryEntries" />
    </Feature>


    <!--<Icon Id="myIcon" SourceFile="..\myIcon.ico" /> 
<Property Id="ARPPRODUCTICON" Value="myIcon" />-->
    <Property Id="ARPINSTALLLOCATION" Value="1" />
    <Property Id="ARPCOMMENTS" Value="(c) 3d Soft Solutions" />
    <Property Id="ARPNOREPAIR" Value="1" />
    <Property Id="ARPNOMODIFY" Value="1" />
    <Property Id="ARPCONTACT" Value="support@3dsoft.bg" />
    <Property Id="ARPHELPLINK" Value="http://www.3dsoft.bg/KojtoCAD/support.html"/>
    <Property Id="ARPREADME" Value="http://www.3dsoft.bg/KojtoCAD/readme.html" />

    <CustomAction Id="AssignTargetDir" Property="TARGETDIR" Value="C:\" Execute="firstSequence" />
    <InstallUISequence>
      <Custom Action="AssignTargetDir" Before="CostInitialize">TARGETDIR="AssignTargetDir"</Custom>
    </InstallUISequence>
    <InstallExecuteSequence>
      <Custom Action="AssignTargetDir" Before="CostInitialize">TARGETDIR="AssignTargetDir"</Custom>
    </InstallExecuteSequence>
  </Product>


  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir" >
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="AutodeskFolder" Name="Autodesk">
          <Directory Id="AutodeskApplicationPluginsFolder" Name="ApplicationPlugins" >
            <Directory Id="INSTALLFOLDER" Name="KojtoCAD.bundle" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>
  <Fragment>
    <DirectoryRef Id="TARGETDIR">
      <Component Id="RegistryEntries" Guid="FBC14ECA-813F-4D5D-95F9-125334E741FB">
        <RegistryKey Root="HKLM"
                     Key="Software\Bricsys\ObjectDRX\V17x64\Applications\KojtoCAD"
              Action="createAndRemoveOnUninstall">
          <RegistryValue Type="string" Name="LOADER" Value="C:\Program Files\Autodesk\ApplicationPlugins\KojtoCad.bundle\KojtoCAD.BricsCAD.dll" KeyPath="yes"/>
          <RegistryValue Type="string" Name="DESCRIPTION" Value="KojtoCAD"/>
          <RegistryValue Type="integer" Name="LOADCTRLS" Value="14"/>
          <RegistryValue Type="integer" Name="MANAGED" Value="1"/>
        </RegistryKey>
      </Component>
    </DirectoryRef>
  </Fragment>
</Wix>

