<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoCAD-2012.Net.Base" version="1.0.0" targetFramework="net451" />
  <package id="AutoCAD-2012.Net.Interop.x64" version="1.0.0" targetFramework="net451" />
  <package id="Castle.Core" version="3.3.3" targetFramework="net451" />
  <package id="Castle.Windsor" version="3.3.0" targetFramework="net451" />
  <package id="DocumentFormat.OpenXml" version="2.5" targetFramework="net451" />
  <package id="LumenWorks.Framework.IO" version="3.8.0" targetFramework="net451" />
  <package id="Microsoft.ApplicationInsights" version="2.2.0" targetFramework="net451" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net451" />
  <package id="Microsoft.Data.Edm" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.OData" version="5.6.4" targetFramework="net451" />
  <package id="Microsoft.Data.Services.Client" version="5.6.4" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net451" />
  <package id="System.Spatial" version="5.6.4" targetFramework="net451" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net451" />
</packages>