<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="BlobConnectionString" value="DefaultEndpointsProtocol=https;AccountName=3dsoft;AccountKey=7PaOMOaCcHv5yYF5tFxOvYS6mHvLgns4V3gP0qPIUSnsm/btRIWdcD3WIb1NyTXAFyH9jbeoDhQQtv/MLmNIHg=="/>
    <add key="BlobContainerName" value="kojtocad"/>
    <add key="NewVersionsVirtualDirectory" value="InstallVersions"/>
  </appSettings>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KojtoCAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="KojtoCAD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <KojtoCAD.Properties.Settings>
      <setting name="appName" serializeAs="String">
        <value>KojtoCAD</value>
      </setting>
      <setting name="lastSelectedManufacturer" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSelectedSearchPattern" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSelectedProject" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSelectedPaperSize" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSelectedPaperOrientation" serializeAs="String">
        <value />
      </setting>
      <setting name="lastSelectedTitleBlock" serializeAs="String">
        <value />
      </setting>
      <setting name="FileServer" serializeAs="String">
        <value />
      </setting>
      <setting name="SPG_HasDimensions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SPG_MaterialSide" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SPG_CoatingSide" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SPG_Thickness" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="SPG_InternalRadius" serializeAs="String">
        <value>3</value>
      </setting>
      <setting name="SPG_HasCoating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SPG_MaterialLayer" serializeAs="String">
        <value />
      </setting>
      <setting name="SPG_MaterialColor" serializeAs="String">
        <value>White</value>
      </setting>
      <setting name="SPG_CoatingLayer" serializeAs="String">
        <value />
      </setting>
      <setting name="SPG_CoatingColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="SPG_DimensionLayer" serializeAs="String">
        <value />
      </setting>
      <setting name="SPG_DimensionStyle" serializeAs="String">
        <value />
      </setting>
      <setting name="SPG_DimensionStandart" serializeAs="String">
        <value>ArcsAndLines</value>
      </setting>
      <setting name="SPG_DimensionColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="U2D_ThicknessIsPredefined" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="U2D_InternalRadiusIsPredefined" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="U2D_MethodIsBendDeduction" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="U2D_MethodIsKFactor" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="U2D_BendDeductionTableFile" serializeAs="String">
        <value />
      </setting>
      <setting name="U2D_KFactorTableFile" serializeAs="String">
        <value />
      </setting>
      <setting name="U2D_KFactorIsPredefined" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="U2D_DrawCoating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="U2D_CoatingColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="U2D_CoatingLayer" serializeAs="String">
        <value />
      </setting>
      <setting name="U2D_DrawDimensions" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="U2D_DimensionStyle" serializeAs="String">
        <value />
      </setting>
      <setting name="U2D_DimensionColor" serializeAs="String">
        <value>Red</value>
      </setting>
      <setting name="U2D_DimensionLayer" serializeAs="String">
        <value />
      </setting>
      <setting name="U2D_DimensionStandart" serializeAs="String">
        <value>ArcsAndLines</value>
      </setting>
      <setting name="U2D_CoatingSide" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="U2D_KFactor" serializeAs="String">
        <value>0.5</value>
      </setting>
      <setting name="U2D_Thickness" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="U2D_InternalRadius" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="SGU_IsLaminated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SGU_GlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SGU_InnerGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SGU_OuterGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SGU_ProfileLenght" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="SGU_PVBThickness" serializeAs="String">
        <value>0.38</value>
      </setting>
      <setting name="DGU_InnerGlassIsLaminated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGU_InnerGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_InnerInternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_InnerExternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_InnerPVBThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_OuterGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_OuterExternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_OuterInternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_OuterPVBThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DGU_InnerGlassHasFoil" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGU_OuterGlassHasFoil" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGU_ProfileLenght" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DGU_OuterGlassIsLaminated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DGU_GapThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_InnerGlassIsLaminated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TGU_InnerGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_InnerInternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_InnerExternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_InnerPVBThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_InnerGlassHasFoil" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TGU_OuterGlassIsLaminated" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TGU_OuterGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_OuterInternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_OuterExternalGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_OuterPVBThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_OuterGlassHasFoil" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TGU_InnerGapThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_OuterGapThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_MiddleGlassThickness" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="TGU_ProfileLenght" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="SHD_Material" serializeAs="String">
        <value />
      </setting>
      <setting name="SHD_HasCoating" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SHD_CoatingLayer" serializeAs="String">
        <value>1-0</value>
      </setting>
      <setting name="SHD_CoatingColor" serializeAs="String">
        <value>Yellow</value>
      </setting>
      <setting name="SHD_CoatingSide" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="RInsulationThicknessAtFirstPoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RInsulationThicknessAtSecondPoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HelpLineOffset" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WeldingArcsLenght" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="WeldingArcsDistance" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SlottedHoleLength" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SlottedHoleDiameter" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SlottedHoleRotationAngle" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GearNumberOfTheeth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="GearModule" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TitleMarkLenght" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SInsulationThicknessAtFirstPoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SInsulationThicknessAtSecondPoint" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HInsulationThickness" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HInsulationInternalRadius" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HInsulationSegmentLenght" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RegionDescrDensity" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="plotSourcePath" serializeAs="String">
        <value />
      </setting>
      <setting name="plotDevicePdf" serializeAs="String">
        <value />
      </setting>
      <setting name="plotDeviceDwf" serializeAs="String">
        <value />
      </setting>
      <setting name="plotDevicePrinter" serializeAs="String">
        <value />
      </setting>
      <setting name="plotPaperSizePrint" serializeAs="String">
        <value />
      </setting>
      <setting name="plotPaperSizePdf" serializeAs="String">
        <value />
      </setting>
      <setting name="plotPaperSizeDwf" serializeAs="String">
        <value />
      </setting>
      <setting name="plotStyleTable" serializeAs="String">
        <value />
      </setting>
      <setting name="plotReadDwg" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotReadDxf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotMakePrint" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotMakePdf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotMakeDwf" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotSavePath" serializeAs="String">
        <value />
      </setting>
      <setting name="plotIgnoreModelSpace" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotPlotAllDWGs" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotMultiSheet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotDrawingFrameLayer" serializeAs="String">
        <value />
      </setting>
      <setting name="plotDrawingFrameName" serializeAs="String">
        <value />
      </setting>
      <setting name="plotTurnOnViewPorts" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotFitToPage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="plotCenterPlot" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="templatesDir" serializeAs="String">
        <value>Files\Templates\</value>
      </setting>
      <setting name="iconsDir" serializeAs="String">
        <value>Files\Icons\</value>
      </setting>
      <setting name="lispDir" serializeAs="String">
        <value>\Files\Lisp\</value>
      </setting>
      <setting name="dynamicBlocksDir" serializeAs="String">
        <value>Files\Dynamic_blocks\</value>
      </setting>
      <setting name="attChecker_excelFile" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_logFile" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_traverseAllFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="attChecker_selectedSheet" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_existingAttributeColor" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_unExistingAttributeColor" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_selecetdBlock" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_selectedAttribute" serializeAs="String">
        <value />
      </setting>
      <setting name="attChecker_isRealNumber" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="attChecker_hasCommaDelimiter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="attChecker_hasPointDelimiter" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="weldingLineLayer" serializeAs="String">
        <value>4-0</value>
      </setting>
      <setting name="weldingLineLayerColor" serializeAs="String">
        <value>Silver</value>
      </setting>
      <setting name="tablesDir" serializeAs="String">
        <value>Files\Tables\</value>
      </setting>
      <setting name="Setting" serializeAs="String">
        <value />
      </setting>
      <setting name="appDir" serializeAs="String">
        <value>KojtoCAD.bundle</value>
      </setting>
      <setting name="plotTransparency" serializeAs="String">
        <value>False</value>
      </setting>
    </KojtoCAD.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup>
</configuration>
