<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="KojtoCAD.UnitTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="AngelTestProjectForTests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <KojtoCAD.UnitTests.Properties.Settings>
            <setting name="nonexistingRootDirectory" serializeAs="String">
                <value>BLAAAAAAAAA</value>
            </setting>
            <setting name="nonexistingFileNamePart" serializeAs="String">
                <value>BLAAAAAA!</value>
            </setting>
            <setting name="nullFileExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="falseTraverseSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="existingRootDirectorty" serializeAs="String">
                <value>..\..\IFileService.TestFiles</value>
            </setting>
            <setting name="singleFileNamePart" serializeAs="String">
                <value>windows</value>
            </setting>
            <setting name="multipleFileNamePart" serializeAs="String">
                <value>Angel</value>
            </setting>
            <setting name="notAccessibleSubDirectory" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="properFileExtension" serializeAs="String">
                <value>pub</value>
            </setting>
            <setting name="unproperFileExtension" serializeAs="String">
                <value>qq</value>
            </setting>
            <setting name="singleFullFileName" serializeAs="String">
                <value>windows123</value>
            </setting>
            <setting name="promptMessage" serializeAs="String">
                <value>PromptForSomething</value>
            </setting>
            <setting name="defaultValue0_0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileNameWithPoint" serializeAs="String">
                <value>*.dwg</value>
            </setting>
            <setting name="trueTraverseSubDirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="exactFileName" serializeAs="String">
                <value>INTEL</value>
            </setting>
            <setting name="correctIntegerValue" serializeAs="String">
                <value>6 </value>
            </setting>
            <setting name="ESCkeyUnicode" serializeAs="String">
                <value>\x1b</value>
            </setting>
        </KojtoCAD.UnitTests.Properties.Settings>
        <AngelTestProjectForTests.Properties.Settings>
            <setting name="nonexistingRootDirectory" serializeAs="String">
                <value>BLAAAAAAAAA</value>
            </setting>
            <setting name="nonexistingFileNamePart" serializeAs="String">
                <value>BLAAAAAA!</value>
            </setting>
            <setting name="nullFileExtension" serializeAs="String">
                <value />
            </setting>
            <setting name="falseTraverseSubdirectories" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="existingRootDirectorty" serializeAs="String">
                <value>C:\Users\angel.kostadinov\Desktop\TestFolder</value>
            </setting>
            <setting name="singleFileNamePart" serializeAs="String">
                <value>windows</value>
            </setting>
            <setting name="multipleFileNamePart" serializeAs="String">
                <value>Angel</value>
            </setting>
            <setting name="notAccessibleSubDirectory" serializeAs="String">
                <value>C:\\</value>
            </setting>
            <setting name="properFileExtension" serializeAs="String">
                <value>pub</value>
            </setting>
            <setting name="unproperFileExtension" serializeAs="String">
                <value>qq</value>
            </setting>
            <setting name="singleFullFileName" serializeAs="String">
                <value>windows123</value>
            </setting>
            <setting name="promptMessage" serializeAs="String">
                <value>PromptForSomething</value>
            </setting>
            <setting name="defaultValue0_0" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fileNameWithPoint" serializeAs="String">
                <value>*.dwg</value>
            </setting>
            <setting name="trueTraverseSubDirectories" serializeAs="String">
                <value>False</value>
            </setting>
        </AngelTestProjectForTests.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Castle.Windsor" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.0.0" newVersion="3.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" /></startup></configuration>
